#header_page {
  .header_title{
    font-family: initial;
    font-variant: common-ligatures;
    font-weight: 500;
    font-size: xx-large;
  }  
 
  .header_menu{
    font-size: large;
    font-family: initial;
    font-variant: common-ligatures;
    font-weight: 500;
    
    .header-user-profile{
      max-width: 100%;
      height: 55px;
    }
    
  }
  .active_header_menu{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 5px solid #ffffff;
    color: #ffffff
}
  .nav{
    li{
      a{
        font-size: 18px;
      }
    }
  }
}